* {
	margin:0;
	padding:0;
}
html, body {
	height:100%;
}
html {	
	margin: auto;
}
body {	
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:1.25em;
	color:#333333;

}
img {
	border:0;
	vertical-align:top;
	text-align:left;
}
object {
	vertical-align:top;
	outline:none;
}
ul, ol {
	list-style:none;
}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.clear {
	clear:both;
}
.col-1, .col-2, .col-3 {
	float:left;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
.container {
	width:1000px;
	margin:0 auto;
	font-size:.875em;
	position:relative;
}

@font-face{ 
	font-family: 'MainFont';
	src: url('../../static/css/Movement.ttf');
}
@font-face{ 
	font-family: 'TextFont';
	src: url('../../static/css/MONTSERRAT-REGULAR.OTF') format('opentype');
}
@font-face{ 
	font-family: 'TextFont_B';
	src: url('../../static/css/MONTSERRAT-BOLD.OTF') format('opentype');
}
@font-face{ 
	font-family: 'TextFont_C';
	src: url('../../static/css/PrimeRegular.woff') format('woff');
}
#main {
	position: absolute;
	top: 0;
    left: 0;
}
#container {
	width:100vw;
    position: absolute;
	
}

#test{
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
	float:center;
	margin:auto;
}

.logo{
	float: left;width:90px;
	height:90px;
	background-image: url('../../static/pics/main/logos.png');  
	background-repeat: no-repeat;
}
.logo:hover{
	background-image: url('../../static/pics/main/logos_shadow.png');  
}
.iconbox{
	width: 108px; 
	text-align: center;
	font-family: Mainfont;
	font-size: 1.5em;
}
.iconbox:hover{
	color: #ffcc99;
}
.icons{
	float: left;
	width:72px;
	height:72px;
	margin-top:2px;
	margin-left:18px;
	margin-right: 18px;
	margin-bottom: 15px;
	background-image: url('../../static/pics/main/icons_1.png');  
	background-repeat: no-repeat;
	transform: scale(1.25);
	transition: transform .2s;
}
.icons:hover{
	transform: scale(1.5);  
}

.icons_ui{
	float: left;
	width:15px;
	height:25px;
	margin-top:2px;
	margin-left:0px;
	background-image: url('../../static/pics/main/icon_h.png');  
	background-repeat: no-repeat;
}


/*Default Size Configuration*/
#main_background,#content{
width:auto;
}
#content{
width:100%;
}
#content_sub{
float:center;
margin:auto;
width:90%;
}
#main_background{
 height:100%;
}
#top_bar_spacer{
height: 0px;
}
#mid_spacer{
height:330px;
}
#data_screen{
height:700px;
}
#info_scroll{
height: 700px;
}

#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#team_rank{
	font-family:TextFont_C;
	font-size: 350%;
	height: 100px;
  	line-height: 100px;
  	text-align: center;
}

#main_background{
    position: relative;
	float:center;
	overflow: hidden;
	background: #111 url(../../static/pics/main/back_1.jpg)  center top ;
	background-size: cover;
}

#grad1{
  background: linear-gradient(t#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


body{
    /* positio; */
	/* overflow: hidden; */
	background: #333333 url(../../static/Spectrum-logo.png) fixed right bottom 2vh no-repeat;
	background-size: 50vh;
	background-blend-mode: lighten;
}

#content {	
    position: absolute;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	width: 90%;
	background: rgba(255, 255, 255, 0);
	color: #fff;	
	font-family: 'MainFont', Arial, sans-serif;
}

.ucontent:after{
    clear: both;
    content: "";
    display: block;
}
.cmbtn {
	
	border-style: solid;
	border-color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	color: #ffcc99;
	padding: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5em;
	margin: 4px 2px;
	border-radius: 18px;
	font-family: 'TextFont_B';
	transition: .1s;
}

.cmbtn:hover {
	background-color: #ffcc99;
	color: #333333;
}

#section_sep{
	overflow: hidden;
	background:  url(../../static/pics/main/sec_sep.png)  center top no-repeat;
}
#top_bar {
	width:100%;		
	background:rgba(255,255,255,0);
}

#main_tabs{	
	float:right;
}

#top_bar,#main_tabs{
height:160px;
}

#data_screen{
width:100%;
background:rgba(255,255,255,0);
}
#nav_arrow_l{
	width:72px;
	height:72px;	
	background:url(../../static/pics/main/arrows.png) no-repeat ;
	background-position: -216px 180px;
}
#nav_arrow_l:hover{
	background:url(../../static/pics/main/arrows.png) no-repeat right;
	background-position: -144px 180px;
}
#nav_arrow_r{

	width:72px;
	height:72px;	
	background:url(../../static/pics/main/arrows.png) no-repeat right;
	background-position: 0px 180px;
}
#nav_arrow_r:hover{
	background:url(../../static/pics/main/arrows.png) no-repeat left;
	background-position: -72px 180px;
}

#team_block{
	width :100%;
	height:105px;
	margin-bottom:5px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border-style: solid;
	border-width: 4px;
	border-image: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet) 1;
	background:  #999999  center top no-repeat;
	opacity: 0.8;
	transition: opacity .1s;
	border-radius: 10px;
}
#team_block:hover{
	opacity: 1;  
}

#player_pic{
	border-color: #ffcc99;
	border-style: solid;
	border-width: thick;
}

.recent_events {
	position : absolute;
	width	 : 980px;
}
.recent_events p { margin: 0; padding: 10px }
.recent_events-slideshow , .recent_events-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.recent_events-slideshow { width: 100%; min-width: 200px; margin: auto; padding: 0; }

.recent_events-slideshow > div { 
	position: absolute; top: 0; left: 0;
	width: 100%; padding: 0;
}

.research_hl_img{
	height:340px;
	background-size: cover;
}

.people_block:after{
    clear: both;
    content: "";
    display: block;
}
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow { width: 100%; min-width: 200px; margin: auto; padding: 0; }



/* anchors */
.cycle-slideshow > a { 
	position: absolute; top: 0; left: 0;
	width: 100%; padding: 0; background-color: #222; display: block;
}

/* images */
.cycle-slideshow > a > img { 
	width: 100%;
	position: static;
	display: block;
}

/* divs */
.cycle-slideshow > div { 
	position: absolute; top: 0; left: 0;
	width: 100%; padding: 0;
}


.cycle-slide p { margin: 0; padding: 10px }
						
						
#sddm
{	margin: 0;
	padding-left:30px ;
	padding-right:60px ;
	z-index: 30;
	font: MainFont 20px;
	font-size: 2em;
	font-weight: bold;
	text-decoration:none;
	list-style: none;
}

#sddm li
{	margin: 0;
	padding: 0;
	float:right;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	background: rgba(0,0,0,0);
	color: #000;
	text-align: left;
	text-decoration: none}

#sddm li a:hover
{	
	color:#555;
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;	
	width: 200px;
	padding:0;
	margin-top: 10px;
	background: rgba(64,64,64,1);		
}

#sddm div a
{	position: relative;
	display: block;
	margin: 0;
	padding: 10px 0px 10px 10px;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: rgba(0,0,0,0);
	color: #fff;
	border-bottom:2px solid rgba(32,32,32,1);
}

#sddm div a:hover
{	background: rgba(32,32,32,1);
	color: #FFF
}	
